@charset "utf";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.item1{
    width: 609px;
    height: 189px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}
.item1 .image{
    width: 189px;
    height: 189px;
}
.item1 .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item1 .text{
   padding: 32px 30px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}