@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.section{
    background-color: aquamarine;
    padding: 100px 0;
    margin-top: 100px;
}

.section .inner{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.section .inner .title{
    width: 400px;
    position: sticky;
    top: 100px;
}

.section .inner .list{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
}

.section .inner .list .item{
    width: 390px;
    height: 500px;
    border: 1px solid #333;
}
.section .inner .list .item:nth-child(2n){
    /* margin-top: 100px; */
    position: relative;
    top: 100px;
}